<footer class="footer">
	<div class="footer__container container">
		<ul class="footer__list">
			<li class="footer__list-item">
				<a href="#promo" class="footer__list-link anchor">
					Домой
				</a>
			</li>
			<li class="footer__list-item">
				<a href="#about" class="footer__list-link anchor">
					О нас
				</a>
			</li>
			<li class="footer__list-item">
				<a href="#show" class="footer__list-link anchor">
					Шоу рум
				</a>
			</li>
			<li class="footer__list-item">
				<a href="#partners" class="footer__list-link anchor">
					Наши партёры
				</a>
			</li>
			<li class="footer__list-item">
				<a href="#product" class="footer__list-link anchor">
					Продукция
				</a>
			</li>
			<li class="footer__list-item">
				<a href="http://wa.me/+491708777730" target="_blank" class="footer__list-link">
					WhatsApp
				</a>
			</li>
			<li class="footer__list-item">
				<a href="mailto:info@ideefacades.kz" class="footer__list-link">
					Почта
				</a>
			</li>
			<li class="footer__list-item">
				<a href="https://www.instagram.com/ideefacadeskz/" target="_blank" class="footer__list-link">
					Instagram
				</a>
			</li>
		</ul>
	</div>
	<p class="footer__copyright">
		2023 Idee Facade Solitions
	</p>
</footer>