@import "vars";
@import "global";
// @import "fonts";
// body {
//     position: relative;
// }
.header {
    position: fixed;
    z-index: 2;
    // transform: translateX(-50%);
    // left: 50%;
    width: 100%;

    padding: 25px 0;

    transition: 0.4s background-color;
    &.active {
        background-color: rgba($black, 0.6);
    }
    &.active-burger {
        background-color: rgba($black, 0.6) !important;
    }
    &__container {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 96px;
    }

    &__logo-img {
        width: 180px;
        height: 59px;
        object-fit: cover;
        object-position: center;
        &.active {
            .fil0 {
                fill: $white;
            }
        }
        &.active-burger {
            .fil0 {
                fill: $white !important;
            }
        }
        .fil2 {
            fill: #1a1a1a;
        }

        .fil1 {
            fill: #b4af96;
        }

        .fil0 {
            fill: $black;
            transition: 0.4s all;
            fill-rule: nonzero;
        }
    }

    &__nav {
        margin-left: auto;
        transition: 0.4s opacity;
    }

    &__list {
        display: flex;
        gap: 0 55px;
    }

    // &__list-item {
    // }
    &__lang-select,
    &__tel,
    &__list-link {
        font-size: 16px;
        font-weight: 300;
        color: $white;
    }

    &__tel,
    &__list-link {
        display: inline-block;

        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;

            height: 1px;
            width: 100%;

            background-color: transparent;

            transition: 0.3s background-color;
        }
        &:hover,
        &.active {
            &::after {
                background-color: $white;
            }
        }
    }

    &__lang {
        margin-left: 63px;
    }

    // &__lang-form {
    // }

    // &__lang-wrapper {
    // }

    &__lang-select {
        cursor: pointer;
        appearance: none;
        background-color: transparent;
        border: none;
        option {
            color: $black;
        }
    }

    &__btn-burger {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3px 0;
        width: 40px;
        height: 30px;
        &.active {
            span:first-child {
                top: 6px;
                transform: rotate(135deg);
            }
            span:nth-child(2) {
                width: 0;
            }
            span:last-child {
                bottom: 6px;
                transform: rotate(-135deg);
            }
        }
        span {
            display: inline-block;
            width: 30px;
            height: 3px;
            background-color: $white;
            transition: 0.5s all;
            position: relative;
        }
    }
}
.promo {
    position: relative;
    z-index: 1;

    max-width: 100vw;
    width: 100%;
    height: 100vh;

    background-image: url(../images/promo-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__container {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

    &__title {
        color: $white;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.75);
        font-size: 58px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;

        margin-bottom: 6px;
    }

    &__text {
        color: $white;
        text-align: right;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.75);
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        max-width: 771px;
        width: 100%;

        margin-bottom: 65px;
    }

    &__button {
        padding: 19px 26px;
        &:hover {
            span {
                span {
                    svg {
                        fill: $black;
                    }
                }
            }
        }
        span {
            display: inline-block;

            font-size: 16px;
            font-weight: 900;
            line-height: 19px;
            text-transform: uppercase;

            padding-right: 39px;
            position: relative;

            span {
                svg {
                    transition: 0.3s all;
                }
                content: "";
                position: absolute;
                top: 50%;
                right: -20px;
                transform: translateY(-50%);

                // background-image: url(../images/arrow-right.svg);
                // background-size: contain;
                // background-repeat: no-repeat;
                // background-position: center;
                height: 18px;
                width: 16px;

                animation: arrow 2s ease-in-out infinite;
                @keyframes arrow {
                    0% {
                        // opacity: 0.8;
                        transform: translateX(-7px) translateY(-50%);
                    }
                    100% {
                        // opacity: 1;
                        transform: translateX(2px) translateY(-50%);
                    }
                }
            }
        }
    }

    &__socials {
        position: absolute;
        bottom: 144px;
        left: 20px;
        // transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        gap: 43px 0;
    }

    // &__socials-item {
    // }

    // &__socials-link {
    // }

    &__socials-icon {
        object-fit: cover;
        object-position: center;
        width: 70px;
        height: 70px;
    }
}
.about {
    padding: 20px 0 35px;
    position: relative;
    &__container {
        display: flex;
        gap: 0 40px;
    }

    &__item {
        flex: 1 1 30%;
    }
    &__title {
        color: #101010;

        font-size: 212px;
        font-style: normal;
        font-weight: 400;
        z-index: -1;
        position: absolute;
        top: 160px;
    }
    &__accordeon {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__accordeon-button {
        color: #fff;
        text-align: justify;
        font-size: 17px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;

        cursor: auto;
    }

    &__accordeon-content {
        color: #fff;
        font-size: 17px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-align: justify;

        padding-top: 10px;
    }
}
.show {
    height: 864px;
    max-width: 100vw;
    width: 100%;

    background:
        url(../images/show-bg.jpg),
        lightgray 0px -57.155px / 100% 114.272% no-repeat;
    // background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 40px;
    z-index: 1;

    &__container {
        z-index: 2;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        position: relative;
        // &::after {
        //     content: "";
        //     position: absolute;
        //     z-index: 0;
        //     background-image: url(../images/showroom.png);
        //     height: 212px;
        //     max-width: 1021px;
        //     width: 100%;
        //     background-repeat: no-repeat;
        //     background-position: center;
        //     background-size: cover;
        // }
    }
    &__shadow-bottom,
    &__shadow-top {
        background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%);
        height: 151px;
        width: 100%;
        position: absolute;
        left: 0;
        z-index: 1;
    }
    &__shadow-top {
        top: 0;
    }
    &__shadow-bottom {
        transform: rotate(180deg);
        bottom: 0;
    }
    &__address {
        color: #fff;
        text-align: center;
        font-size: 20px;
        font-weight: 200;
        line-height: 26px; /* 130% */

        margin-bottom: auto;
    }

    &__title {
        color: #141414;
        font-size: 212px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        opacity: 0.5;
        mix-blend-mode: exclusion;
        // display: none;
        position: absolute;
        user-select: none;
        top: 162px;
        left: 10%;
    }

    &__content {
        color: #fff;
        text-align: center;
        font-size: 90px;
        font-weight: 900;
        line-height: normal;
        margin-bottom: auto;

        span {
            color: #ef0c0c;
        }
    }
}
.partners {
    padding-top: 33px;
    padding-bottom: 62px;
    position: relative;
    // &__container {
    // }
    &__pagination {
        display: none;
    }
    &__title {
        color: #fff;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 26px;

        margin-bottom: 79px;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__list-item {
        // max-width: 280px;
        // width: 100%;
        // max-height: 200px;
        // height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        &:nth-child(2) {
            margin: 0 100px;
        }
    }

    // &__list-link {
    // }

    &__list-img {
        object-fit: contain;
        object-position: center;
        max-width: 280px;
        // width: 100%;
        min-height: 200px;

        height: auto;
    }
    .swiper-slide {
        width: auto;
    }
}
.product {
    &__title {
        color: #fff;
        text-align: center;
        font-size: 24px;
        font-weight: 300;
        line-height: 26px;
        margin: 28px 0;
    }

    &__tab {
        &:first-of-type {
            margin-bottom: 7px;
            .product__tab-caption {
                color: $black;
            }
        }
        &:last-child {
            .product__tab-caption {
                color: $white;
            }
        }
    }

    &__tab-button {
        color: #000;
        text-align: center;
        font-size: 22px;
        font-weight: 300;
        line-height: 26px;
        width: 100%;
        background: $brown;
        box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.2);

        padding: 12px 20px;
        position: relative;
        cursor: auto;
        &.active {
            span {
                &::after {
                    transform: translateY(-50%) rotate(90deg);
                }
            }
        }
        span {
            pointer-events: none;
            position: relative;
            display: inline-flex;
            padding-right: 17px;

            &::after {
                transition: 0.3s all;

                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%) rotate(0deg);
                z-index: 1;
                background-image: url(../images/product__appereance.svg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 16px;
                height: 16px;
            }
        }
    }

    &__tab-content {
        display: flex;
        flex-wrap: wrap;
        gap: 8px 0;
    }

    &__tab-figure {
        position: relative;
        flex: 1 1 33%;
        height: 426px;
    }

    &__tab-img {
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center;
    }

    &__tab-caption {
        position: relative;
        z-index: 1;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 31px;
        margin-top: 28px;
    }
}
.contacts {
    padding-top: 35px;
    // &__container {
    // }

    &__title {
        color: #fff;
        text-align: center;
        font-size: 24px;

        font-weight: 300;
        line-height: 26px;
        margin-bottom: 34px;
    }

    &__inner {
        display: flex;
        justify-content: space-evenly;
    }

    &__left {
        max-width: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px 0;
    }
    &__links {
        display: flex;
        flex-direction: column;
    }
    &__address,
    &__link {
        font-weight: 300;
        line-height: 36px;
        font-size: 24px;
        color: #fff;
        font-weight: 300;
        span {
            font-weight: 900;
            display: inline-block;
            // margin-bottom: 13px;
        }
    }

    &__right {
        max-width: 380px;
        width: 100%;
    }

    &__form {
        display: flex;
        flex-direction: column;

        gap: 22px 0;
    }

    &__label,
    &__wrapper {
        span {
            width: 100%;
            display: inline-block;
            color: #fff;
            font-size: 24px;
            font-weight: 900;
            line-height: 31px;
            display: flex;
            flex-direction: column;

            margin-bottom: 13px;
        }
    }
    &__input {
        height: 50px;
    }
    &__input,
    &__textarea {
        width: 100%;
        border-radius: 5px;
        border: 2px solid #b4af9b;
        background-color: transparent;
        padding: 10px 12px;
        color: $white;

        transition: 0.3s all;
        color: #fff;
        font-size: 24px;
        font-weight: 500;
        line-height: 31px;
        &::placeholder {
            font-weight: 300;
        }
    }

    // &__wrapper {
    // }

    &__textarea {
        resize: vertical;
        min-height: 120px;
        height: auto;
    }

    &__button {
        margin-top: 20px;
        display: inline-flex;
        color: #fff;
        font-size: 16px;
        font-weight: 900;
        line-height: normal;
        padding: 15px;
        align-self: flex-end;
    }
}
.footer {
    margin-top: 71px;
    &__list {
        padding-top: 10px;
        margin-bottom: 53px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__list-link {
        color: #fff;
        font-size: 20px;
        font-weight: 300;
        line-height: normal;
    }

    &__copyright {
        padding: 10px 0;
        width: 100%;
        background-color: $brown;
        text-align: center;
        color: #000;
        font-size: 24px;
        font-weight: 300;
        line-height: normal;
    }
}
.contacts,
.product,
.partners,
.show,
.about {
    scroll-margin-top: 133px;
}
@media screen and (max-width: 1200px) {
    .show {
        &__title {
            left: 0;
            display: none;
            font-size: calc(75px + (212 - 100) * ((100vw - 320px) / (1200 - 320)));
        }
    }
}
@media screen and (max-width: 1024px) {
    .header {
        &__list {
            gap: 0 25px;
        }
    }
    .show {
        &__content {
            font-size: 60px;
        }
    }
    .product {
        &__tab-figure {
            flex: 1 1 50%;
        }
    }
}
@media screen and (max-width: 768px) {
    .header {
        padding: 15px 0;
        &__lang {
            margin-left: auto;
            margin-right: 30px;
        }
        &__logo-img {
            width: auto;
            height: 35px;
        }
        &__container {
            justify-content: space-between;
        }
        &__btn-burger {
            display: flex;
        }
        &__nav {
            font-size: 0;

            margin-left: 0;
            padding: 0 20px;

            position: absolute;
            top: 69px;
            left: 0;
            z-index: -1;

            background-color: rgba($black, 0.6);
            overflow: hidden;

            min-height: 150px;
            width: 100%;

            opacity: 0;
            pointer-events: none;
            &.active {
                pointer-events: all;
                opacity: 1;
                z-index: 3;
            }
        }
        &__list {
            flex-direction: column;
            align-items: center;
            gap: 20px 0;
        }
    }
    .promo {
        max-height: 600px;
        &__container {
            align-items: center;
            justify-content: center;
        }
        &__title {
            margin-top: auto;
            font-size: 40px;
        }
        &__text {
            font-size: 25px;
            text-align: center;

            margin-bottom: 30px;
        }
        &__button {
            padding: 15px 22px;
            span {
                font-size: 14px;
                font-weight: 900;
            }
        }
        &__socials {
            position: static;

            margin-top: auto;
            margin-bottom: 30px;

            display: flex;
            flex-direction: row;
            gap: 0 20px;
            &-icon {
                width: 40px;
                height: 40px;
            }
        }
    }
    .about {
        &__container {
            flex-direction: column;
        }
        &__title {
            font-size: 38px;
            position: static;
            color: $white;
            z-index: 1;
            font-weight: 900;
            text-align: center;

            margin-bottom: 30px;
        }
        &__item {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 20px;
            }
        }
        &__accordeon-button {
            cursor: pointer;
            width: 100%;
            padding: 10px 0;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $white;
                bottom: 0;
                transition: 0.3s opacity;
                opacity: 0;
            }

            @media (any-hover: hover) {
                &:hover {
                    &::before {
                        opacity: 1;
                    }
                }
            }

            &.active {
                &::after {
                    transform: translateY(-50%) rotate(45deg);
                }
            }
            &::after {
                content: "+";
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                transition: 0.3s all;
            }
        }
        &__accordeon-content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.4s ease-out;
        }
    }
    .partners {
        &__list {
            justify-content: unset;
            align-items: unset;
        }
        &__list-item {
            &:nth-child(2) {
                margin: 0;
            }
        }
        &__pagination {
            margin-top: 30px;
            position: static;
            width: 100%;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            span {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                transition: 0.3s all;
                &.swiper-pagination-bullet {
                    background-color: rgba($white, $alpha: 0.6);
                }
                border: 1px solid $black;

                &.swiper-pagination-bullet-active {
                    background-color: $brown;
                }
            }
        }
        .swiper-slide {
            width: 100%;
        }
    }
    .product {
        &__tab-figure {
            flex: 1 1 100%;
        }
        &__tab-button {
            span {
                font-size: 16px;
                font-weight: 500;
            }
        }
        &__tab-content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 1.2s ease-in-out;
        }
    }
    .contacts {
        &__inner {
            flex-direction: column;
            gap: 30px 0;
        }
        &__left,
        &__right {
            max-width: 100%;
            font-size: 18px;
        }
        &__button {
            align-self: center;
        }
    }
    .footer {
        margin-top: 40px;
        &__list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);

            gap: 15px 0;
        }
        &__list-item {
            text-align: center;
        }
        &__copyright {
            font-size: 18px;
        }
    }
    .contacts,
    .product,
    .partners,
    .show,
    .about {
        scroll-margin-top: 70px;
    }
}

@media screen and (max-width: 500px) {
    .container {
        padding: 0 10px;
    }
    .header {
        &__logo-img {
            height: 30px;
        }
        &__container {
            justify-content: space-between;
        }
        &__tel,
        &__lang-select {
            font-size: 14px;
        }

        &__nav {
            top: 64px;
        }
    }
    .promo {
        min-height: 100vh;
        &__title {
            font-size: 24px;
        }
        &__text {
            font-size: 18px;
        }
        &__button {
            padding: 12px;
            span {
                font-size: 11px;
                padding-right: 24px;
                span {
                    height: 16px;
                    width: 14px;
                    right: -6px;
                }
                @keyframes arrow {
                    0% {
                        // opacity: 0.8;
                        transform: translateX(-2px) translateY(-50%);
                    }
                    100% {
                        // opacity: 1;
                        transform: translateX(2px) translateY(-50%);
                    }
                }
            }
        }
    }
    .about {
        &__accordeon-button {
            &:focus {
                &::before {
                    opacity: 1;
                }
            }
        }
    }
    .show {
        height: 100vh;
        &__content {
            font-size: 32px;
        }
    }
    .partners {
        &__title {
            margin-bottom: 30px;
        }
    }
    .product {
        &__tab-figure {
            height: 250px;
        }
    }
    .contacts {
        &__input,
        &__textareaб,
        &__link,
        &__address {
            font-size: 18px;
        }
        &__label,
        &__wrapper,
        &__address {
            span {
                font-size: 18px;
            }
        }
        &__input,
        &__textarea {
            &::placeholder {
                font-size: 18px;
            }
        }
    }

    .contacts,
    .product,
    .partners,
    .show,
    .about {
        scroll-margin-top: 65px;
    }
}
@import "media";
